In [1]:
#Belajar Bahasa Pemrograman Phyton menggunakan tools Jupyter Notebook
#Fungsi Print
print("DSC Belajar Phyton")

DSC Belajar Phyton

In [2]:
print("DSC Belajar Phyton, R")

DSC Belajar Phyton, R

In [3]:
panjang = 25
lebar = 15
luas = panjang * lebar
print (luas)

375

In [4]:
print("Nama kamu siapa ? Boleh kenalan ?")
print("Namuku cyndi yah! Salam kenal.")

Nama kamu siapa ? Boleh kenalan ?
Namuku cyndi yah! Salam kenal.

In [5]:
print("Nama kamu siapa ?\nBoleh kenalan ?")
print("Namuku cyndi yah!\nSalam kenal.")

Nama kamu siapa ?
Boleh kenalan ?
Namuku cyndi yah!
Salam kenal.

In [6]:
print("Nama kamu siapa ?\tBoleh kenalan ?")
print("Namuku cyndi yah!\tSalam kenal.")

Nama kamu siapa ?	Boleh kenalan ?
Namuku cyndi yah!	Salam kenal.

In [7]:
#\n memberikan perintah baris baru
#\t memberikan perintah tab
#tanda koma (,) dijadikan tanda spasi dalam kalimat

In [8]:
print("Mari kita belajar", "python.", end=" " )
print("Bahasa pemrograman python")

Mari kita belajar python. Bahasa pemrograman python

In [9]:
print("Mari","Kita","Belajar","Python", sep="/")

Mari/Kita/Belajar/Python

In [10]:
#end= memberikan perintah sesuai dengan yang ada didalam tanda kutip misalnya spasi,slash dll
#sep= memberikan perintah memasukkan tanda sebagai penganti spapsi diantara kata

In [11]:
print("Mari","Kita","Belajar","Python", sep="_", end="*")
print("Bahasa", "Python", sep="*", end="\n")
print("Semangat ya!")

Mari_Kita_Belajar_Python*Bahasa*Python
Semangat ya!

In [12]:
# tanda(#) merupakan tanda comment dan tidak muncul d output jika dirun

In [13]:
#LATIHAN TPE DATA

In [14]:
3E8

300000000.0

In [15]:
6.62E-3

0.00662

In [16]:
print('I\'am')
print("I'am")
print("\"\"learning\"\"")
print("\"\"\"python\"\"\"")

I'am
I'am
""learning""
"""python"""

In [17]:
#LATIHAN OPERATOR SEDERHANA
10+5 #Addition
10-5 #Susbtraction
10*5 #Multiplication
10/5 #classic division

2.0

In [18]:
print(10//5) #pembulatan kebawah menghasilkan integer
print(10.2//5) #pembulatan kebawah menghasilkan float

2
2.0

In [19]:
#EXPONANTIATION
print(10**5)
print(10.**5.)
print(10**5.)
print(10.**5)

100000
100000.0
100000.0
100000.0

In [20]:
#MODULUS
print(10%5) #sisa pembagian
print(15%4)

0
3

In [21]:
7-5/14*12+3**9%12-(15.**5.)

-759369.2857142857

In [22]:
print(10 % 5 % 3 ) #operasi dilakukan dari kiri (10%5)%3

0

In [23]:
print(10**5**3) #operasi dari kanan

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [24]:
#VARIABEL
tinggi_1 = 178
tinggi_2 = 159

In [25]:
berat_1 = 56
berat_2 = 45

In [26]:
print(tinggi_1,tinggi_2)
print(berat_1,berat_2)

178 159
56 45

In [27]:
tinggi ="178"
print("Berapa tinggimu? -> ", tinggi) #tinggi harus string
berat = "59"
print("Berapa beratmu? ->", berat) #berat harus numerik

Berapa tinggimu? ->  178
Berapa beratmu? -> 59

In [28]:
t1=1
t1=2
t1=t1+1
print(t1) #t1 yang dipakai adalah t1 yang paling akhir yaitu 2

3

In [29]:
var = 7
print(var)
var = 5
print(var)
var += 8
print(var) #var = 8+5

7
5
13

In [30]:
x,y,z=2,2,3
print("nilai x:", x)
print("nilai y:", y)
print("nilai z:", z)

nilai x: 2
nilai y: 2
nilai z: 3

In [31]:
#SHORCUT OPERATOR
i=1
j=2
k=3
l=4
m=5
n=6

In [32]:
i += 4*2
print(i)

9

In [33]:
k /= 2
print(k)

1.5

In [34]:
l %= 7
print(l)

4

In [35]:
m -= 10
print(m)

-5

In [36]:
n **= 13
print(n)

13060694016

In [37]:
#FUNGSI INPUT
nama =input("Namamu siapa? :") #hasil fungsi input() berupa string
print("Namaku", nama)

Namamu siapa? :Theofila Prima Cyndi Naitili
Namaku Theofila Prima Cyndi Naitili

In [39]:
ips_1 = float(input("Nilai IPS semester 1 :"))
ips_2 = float(input("Nilai IPS semester 2 :"))
IPK = (ips_1+ips_2)/2.0 
print("Jadi Nilai IPK ku adalah", IPK)

Nilai IPS semester 1 :3.58
Nilai IPS semester 2 :3.76
Jadi Nilai IPK ku adalah 3.67

In [40]:
x =float(input("Enter value for x: "))
y =1 /(x+1/x+1/x+1/x)
print("y =", y)

Enter value for x: 21
y = 0.0472972972972973

In [43]:
#Operasi STRING
first =input("Nama pertama :")
last =input("Nama terakhir :")
print("Namaku adalah " + first + " " + last)

Nama pertama :Cyndi
Nama terakhir :Naitili
Namaku adalah Cyndi Naitili

In [45]:
print("hei"*3)
print(3*"hei")
print(7*"2")

heiheihei
heiheihei
2222222

In [46]:
print("+" + 10 * "-" + "+")
print(("|" +" " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "-")

+----------+
|          |
|          |
|          |
|          |
|          |
+-----------